* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'RedDeadRedemption';
  src: url('../fonts/rdr2-font.ttf');
}

html {
  background: #e22 url('../img/rdr2.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  font-family: 'RedDeadRedemption'
}

.page-title {
  margin-top: 50px;
  font-size: 4em;
}

.counter {
  font-size: 4em;
}

.counter__section {
  display: inline-block;
  width: 70px;
}