:root {
  --background-soft: #EEE;
  --color: #222;
}

* {
  box-sizing: border-box;
}

html {
  background: #222 url(https://picsum.photos/1500/1000/?image=922&blur=true);
  background-size: cover;
  height: 100%;
  width: 100%;
}

body {
  font-family: monospace;
  font-size: 20px;
}

.page-title {
  text-align: center;
  text-transform: uppercase;
}

.exercises-list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 2em;
}

.exercises-list__item {
  flex: 0 1 24%;
}

a, a:active, a:visited {
  text-decoration: none;
  color: var(--color);
}

.exercise-card {
  position: relative;
  box-shadow: 5px 5px 20px 1px rgba(50,50,50,0.75);
  margin-bottom: 2em;
}

.exercise-card__number {
  position: absolute;
  background-color: var(--background-soft);
  left: 10px;
  top: 10px;
  width: 35px;
  height: 35px;
  border-radius: 25%;
  padding: 6px 13px;
}

.exercise-card__title {
  background-color: var(--background-soft);
  padding: 1.4em;
  min-width: 250px;
  color: var(--color);
}

.exercise-card__number {
  color: var(--color);
}

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

/* Custom card animation effect */

.card-animation::before, .card-animation::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.card-animation::before {
  transform-origin: left top;
}
.card-animation::after {
  transform-origin: right bottom;
}
.card-animation:hover::before, .card-animation:hover::after, .card-animation:focus::before, .card-animation:focus::after {
  transform: scale3d(1, 1, 1);
}